@import url("reset.css");
html { width: 100%; height: 100%; overflow: scroll; font: normal 14px Arial, Helvetica, sans-serif; }
body { max-width: 950px; margin: 0 auto; line-height: 170%;}
a,a:link,a:visited { cursor: pointer; text-decoration: none; }
    a:hover,a:active { text-decoration: underline; }
    
/* CONTENT */
header { margin: 35px 0; padding: 0; }

h2 {
	text-decoration: underline;
}

div {
	padding: 20px;
}

div span, h2 {
	font-weight: bold;	
}